{
  "extends": "stylelint-config-standard",
  "rules": {
    "string-quotes": "double",
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global", "local"] }]
  },
  "ignoreFiles": [
    "node_modules/**/*.css",
    "bower_components/**/*.css"
  ]
}
